.horizontal,
.vertical,
.highlight {
    position: absolute;
    background-color: red;
    top: 0%;
    left: 0%;
}

.horizontal {
    width: 100%;
    height: 3px;
}

.vertical {
    width: 3px;
    height: 100%;
}
